


/*
 Theme Name:   Soledad Child Theme
 Theme URI:    http://pencidesign.com/
 Description:  Soledad Child Theme - Made by PenciDesign
 Author:       Pencidesign
 Author URI:   http://pencidesign.com/
 Template:     soledad
 Text Domain:  soledad
*/

/* = Theme customization go here
-------------------------------------------------------------- */

.about-widget .about-me-heading {
    color: #000000;
    font-size: 16px;
   
    line-height: 18px;
    margin-bottom: 19px;
    position: relative;
}
#navigation.menu-item-padding ul.menu > li, #navigation.menu-item-padding .menu > ul > li {
    margin: -7px;
}

#navigation.header-2.menu-item-padding ul.menu > li > a, #navigation.header-3.menu-item-padding ul.menu > li > a, #navigation.header-5.menu-item-padding ul.menu > li > a, #navigation.header-8.menu-item-padding ul.menu > li > a {
   
    margin-top: 3px;
}
.penci-post-box-meta .penci-post-share-box a:first-child {
    
    margin-top: -1px;
}

#navigation.menu-item-padding .menu > li.current-menu-item > a {
    
    background-color: unset;
}

.penci-standard-cat {
   
    margin-bottom: 0px;
}
.post-entry p, .wpb_text_column p {
     font-size: 14px;
    line-height: 16px;
    font-family: quicksand;
    color: #000000;
}
#menu-social-menu-1 {
    display: inline-block;
       
         padding-left: 157px
    }

.widget input[type="submit"], .widget button[type="submit"]{
	background: #ff915e;
	
}

.textwidget{
font-weight: bold;
}

.tags-share-box{
    	border:none 
    }
.penci-sidebar-content{
	 float: left;
    width: 300px;
    height: 2241px;
}
.penci-sidebar-content .widget {
    
    margin-bottom: 38px;
    
}
.penci-page-header h1 {
    font-size: 32px;
    color: #000000;
    text-transform: none;
    height: 37px;
   
    font-family: Quicksand;
    line-height: 37px;
    text-align: center;
    font-weight: unset;
}

.penci-grid li .item h2 a, .penci-masonry .item-masonry h2 a {
    font-size: 16px;
    color: #313131;
    text-transform: unset;
    letter-spacing: 0px;
   text-align: center;
    font-family: Quicksand;
    line-height: 18px;
}
.grid-post-box-meta {
    margin: 5px 0 0;
    
}
.penci-grid li .item .cat, .penci-masonry .item-masonry .cat {
    
    margin-bottom: 1px;
}
.penci-promo-text h4 {
    text-transform: none;
    font-size: 16px;
    line-height: 18px;
    background: #D8D8D8;
	
    display: inline-block;
    padding: 12px 12px;
    min-width: unset;
    text-align: center;
  
    color: #9B9B9B;
    font-weight: bold;
    font-family: Quicksand;
}

.tags-share-box.hide-tags.page-share {
   
    padding: 1px 0;
   
    
}
a img.alignnone {
    margin: 5px 9px 0px 0;
	
}
.penci-post-box-meta.penci-post-box-grid:before {
   
    width: 75%;
    left: 45px;
}

  
#respond #submit, .wpcf7 input[type="submit"], .widget_wysija input[type="submit"]{
	    background: #ff915e;
}


.cat > a.penci-cat-name {
color: #ff915e;
}

.post-share a:hover, .post-share a.liked {
    color: #ff915e;
}

.tags-share-box.hide-tags.page-share {
    
    border-bottom: none;
}
.container-single .single-post-title {
    text-transform: none;
    letter-spacing: 1px;
    font-weight: unset;
}
#navigation.header-4 .menu, #navigation.header-5 .menu, #navigation.header-4 #top-search, #navigation.header-5 #top-search {
    
    padding-left: 253px;
	float: left;
	
}

.about-widget .about-me-heading:before {
    border-color: #E3E3E3;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
.penci-sidebar-content {
    
    width: 100% !important;
	text-align: center;
}
	.mc4wp-form {
    text-align: center !important;
    width: 67% !important;
    max-width: 100% !important;
    margin-left: 16% !important;
	
}
	.penci-promo-item {
   
    width: 38%;
		margin-left: 236px;
   
   
}
	
	.widget input[type="submit"], .widget button[type="submit"] {
    
   
	background: #ff915e;
    width: 90%;
	margin-left: 5%;
	}
	.widget input[type="text"], .widget input[type="email"], .widget input[type="date"], .widget input[type="number"], .widget input[type="search"], .widget input[type="password"] {
   
    width: 100% !important;
    max-width: 450px !important;
  	 margin-left: 5% !important;
}
	#menu-item-1532{
		float: left;
		padding: 5px;
		
	}
	#menu-item-1531{
		float: left;
		padding: 5px;
		
	}
	#menu-item-1530{
		float: left;
		padding: 5px;
		
	}
	#menu-item-1529{
		padding: 5px;
	}
	#mc4wp_form_widget-1{
		padding: 20px;
	}
	.penci-sidebar-content .widget {
    width: 99%;
    margin-right: 1px;
    float: none;
    margin-bottom: 60px;
    clear: both;
    margin-left: 1%;
}
	.widget ul {
    
    text-align: left;
}
}
@media only screen and (max-width: 600px) {
	#mc4wp-form-1{
		text-align: center !important;
    width: 97% !important;
    max-width: 100% !important;
    margin-left: 1% !important;
	}    
	.penci-sidebar-content img {
		    margin-left: 0%;
	}
	.penci-sidebar-content .widget {
    
    padding: 5%;
		margin-bottom: -18px;
    
}
	
	#penci_about_widget-3{
		margin-left: 0%;
	}
	#menu-item-1532{
		float: left;
		padding: 5px;
		
	}
	#menu-item-1531{
		float: left;
		padding: 5px;
		
	}
	#menu-item-1530{
		float: left;
		padding: 5px;
		
	}
	#menu-item-1529{
		padding: 5px;
	}
}
